* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.image-gallery {
	width: 90%;
	display: grid;
	grid-template-columns:  1fr;
	grid-template-rows: minmax(auto, 420px);
	grid-gap: 20px;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
}

.fullview {
	width: 100%;
	grid-column: 1/-1;
}
.fullview img {
	width: 100%;
}


.preview {
	display: grid;
	grid-template-columns: repeat(auto-fill, 245px);
	grid-gap: inherit;
	text-decoration: none;
	list-style: none;
	justify-content: center;
}
.preview li img {
	width: 100%;
}